@mixin subtitle-01 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: -0.023rem;
}

@mixin subtitle-02 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -2%;
}

@mixin subtitle-03 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: -0.018rem;
}

@mixin body-02 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -2%;
}

@mixin body-03 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.018%;
}

@mixin title-03 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: -0.06rem;
}

@mixin title-04 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.75rem;
  letter-spacing: -0.04rem;
}

@mixin title-05 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.02em;
}

@mixin title-06 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}

@mixin caption-01 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
}

@mixin caption-02 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

@mixin caption-03 {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 0.75rem;
}

@mixin link {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  cursor: pointer;
}
