.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.body {
  background-color: #0d1824;
}

.title1 {
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 60px;
  line-height: 72px;
  font-weight: 600;
  letter-spacing: -0.05em;
}

.title4 {
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.title4.centered {
  display: block;
  max-width: 800px;
  margin-bottom: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.button-primary {
  display: inline-block;
  padding: 12px 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  border-radius: 12px;
  background-color: #0365f4;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  -o-object-fit: fill;
  object-fit: fill;
}

.button-primary:hover {
  border-radius: 8px;
  background-color: #3675d1;
}

.button-primary:active {
  border-radius: 12px;
  background-color: #0d4aa4;
}

.overline {
  font-family: Inter, sans-serif;
  color: #3ed3f4;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.title2 {
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.05em;
}

.div-block-2 {
  padding: 32px;
  border-radius: 32px;
  background-color: transparent;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
}

.title3 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 32px;
  line-height: 36px;
}

.p1 {
  margin-bottom: 32px;
  padding-right: 40px;
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 16px;
  line-height: 20px;
}

.image {
  position: static;
  max-height: 330px;
  padding-top: 0px;
  padding-bottom: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-row-gap: 24px;
  -o-object-fit: fill;
  object-fit: fill;
}

.columns {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.button-outlined {
  display: inline-block;
  padding: 16px 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 2px;
  border-color: #fefefe;
  border-radius: 12px;
  background-color: transparent;
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.button-outlined:hover {
  border-radius: 8px;
  background-color: #fefefe;
  color: #0d1824;
  font-weight: 500;
}

.button-outlined:active {
  background-color: #e6e0e0;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.container {
  max-width: 1244px;
}

.container-2 {
  max-width: 1246px;
  padding-right: 16px;
  padding-left: 16px;
}

.section {
  margin-right: 16px;
  margin-bottom: 80px;
  margin-left: 16px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-2 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-3 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url('../images/labs2.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-4 {
  border-radius: 32px;
  background-image: url('../images/INS.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-5 {
  border-radius: 32px;
  background-image: url('../images/spixi1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 24px;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 32px;
  background-image: url('../images/INSI.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 32px;
  background-image: url('../images/spixi1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.grid {
  overflow: visible;
  width: auto;
  max-width: 1244px;
  min-width: 940px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-column-gap: 24px;
  grid-row-gap: 40px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -o-object-fit: fill;
  object-fit: fill;
}

.minicard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 200px;
  padding: 32px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #2e3b4d;
  border-radius: 16px;
}

.image-2 {
  border-style: none;
  border-width: 1px;
  border-color: #2e3b4d;
  border-radius: 16px;
}

.title-card {
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}

.title-card.centered {
  text-align: center;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  margin-bottom: 48px;
  margin-left: 16px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cta-title {
  margin-bottom: 0px;
  padding-bottom: 24px;
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.05em;
}

.cta-sub {
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.cta-sub.centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding: 32px 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-row-gap: 24px;
  border-radius: 16px;
  background-image: linear-gradient(94deg, #412664, #8354c0);
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1246px;
  padding-right: 16px;
  padding-bottom: 80px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-2 {
  background-color: #0d1824;
}

.contactform {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 640px;
  min-width: 640px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.field-label {
  border-style: none;
  border-width: 1px;
  border-color: #fefefe;
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-weight: 500;
}

.field-label-2 {
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 16px;
  font-weight: 400;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 840px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.field {
  max-height: 48px;
  min-height: 48px;
  margin-bottom: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e0e0;
  border-radius: 8px;
  background-color: transparent;
  font-family: Inter, sans-serif;
  color: #fefefe;
}

.field.textarea {
  overflow: visible;
  max-height: none;
  min-height: 120px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-field-2 {
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row-gap: 0px;
}

.submit-button {
  padding: 12px 32px;
  border-radius: 8px;
  background-color: #0365f4;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.section-6 {
  padding-right: 16px;
  padding-left: 16px;
}

.image-3 {
  display: inline-block;
}

.navbar {
  display: block;
  min-height: 80px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(46, 59, 77, 0.25);
}

.brand {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  min-width: 156px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  align-self: auto;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 100;
  -webkit-flex: 100 auto;
  -ms-flex: 100 auto;
  flex: 100 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: url('../images/Logo.svg');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -o-object-fit: fill;
  object-fit: fill;
}

.container-6 {
  position: relative;
  left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1246px;
  min-width: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 24px 8px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-column-gap: 0px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 860px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-9 {
  display: block;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.button-outlined-icon {
  display: inline-block;
  padding: 16px 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 2px;
  border-color: #fefefe;
  border-radius: 12px;
  background-color: transparent;
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.button-outlined-icon:hover {
  border-radius: 8px;
  background-color: #fefefe;
  color: #0d1824;
  font-weight: 500;
}

.button-outlined-icon:active {
  background-color: #e6e0e0;
}

.container-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-light {
  position: relative;
  padding: 80px 30px 40px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #0a1016;
}

.container-8 {
  width: 100%;
  max-width: 1246px;
  margin-right: auto;
  margin-left: auto;
}

.footer-wrapper-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-block-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}

.footer-link-two {
  margin-top: 20px;
  color: #1a1b1f;
  text-decoration: none;
}

.footer-link-two:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-form {
  width: 315px;
  max-width: 100%;
  margin-bottom: 0px;
}

.footer-form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-form-field {
  height: 48px;
  margin-bottom: 0px;
  padding: 12px 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #a6b1bf;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field:hover {
  border-color: #76879d;
}

.footer-form-field:focus {
  border-color: #76879d;
}

.footer-form-field::-webkit-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field:-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field::-ms-input-placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-field::placeholder {
  color: rgba(26, 27, 31, 0.8);
  font-size: 14px;
  line-height: 22px;
}

.footer-form-submit {
  width: 50px;
  height: 48px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #1a1b1f;
  background-image: url('../images/');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.footer-form-submit:hover {
  background-color: #3a4554;
}

.footer-divider-two {
  width: 100%;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #e4ebf3;
}

.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-copyright {
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-weight: 500;
}

.footer-social-block-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-left: -12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-link {
  margin-left: 12px;
}

.button {
  padding: 16px 40px;
  border-radius: 12px;
  background-color: #3675d1;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.container-9 {
  margin-bottom: 40px;
}

.section-7 {
  padding-top: 40px;
  background-color: #09111a;
}

.spixi-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 16px;
  -o-object-fit: fill;
  object-fit: fill;
}

.ins-block {
  max-width: 960px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding: 32px 32px 80px;
  border-radius: 40px;
  background-color: #070e14;
  background-image: url('../images/INSI.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-13 {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.spixi {
  max-width: 960px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding: 32px;
  border-radius: 40px;
  background-image: url('../images/spixi1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.section-2-copy {
  padding-top: 96px;
  padding-bottom: 60px;
}

.columns-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column-7 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-4 {
  min-width: 256px;
  padding-bottom: 24px;
}

.cta-title-m {
  margin-bottom: 0px;
  padding-bottom: 24px;
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.05em;
}

.cta-sub-m {
  font-family: Inter, sans-serif;
  color: #fefefe;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.cta-sub-m.centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .button-primary {
    display: block;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .section {
    margin-bottom: 0px;
  }

  .section-2 {
    padding-top: 24px;
  }

  .section-3 {
    margin-right: 32px;
    margin-left: 32px;
  }

  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 24px;
    padding-right: 24px;
    padding-left: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row-gap: 24px;
  }

  .column-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid {
    min-width: 0px;
    justify-items: center;
    -ms-grid-columns: minmax(200px, 1fr) 1fr;
    grid-template-columns: minmax(200px, 1fr) 1fr;
  }

  .cta-sub.centered {
    max-width: 100%;
  }

  .div-block-6 {
    margin-right: 16px;
    margin-left: 16px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .field {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .field.textarea {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .form {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .container-6 {
    display: block;
    overflow: visible;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .div-block-7 {
    padding-top: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .columns-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .div-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-5 {
    position: relative;
  }

  .column-5.hidden {
    display: none;
  }

  .container-8 {
    max-width: 728px;
  }

  .footer-wrapper-two {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-form {
    width: 100%;
    margin-top: 40px;
  }

  .footer-form-container {
    max-width: 350px;
  }

  .section-2-copy {
    padding-top: 24px;
  }

  .cta-sub-m.centered {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .title1 {
    font-size: 48px;
    line-height: 54px;
  }

  .title4 {
    margin-top: 0px;
    margin-bottom: 24px;
  }

  .title2 {
    font-size: 32px;
    line-height: 40px;
  }

  .section {
    margin-right: 0px;
    margin-left: 0px;
  }

  .section-2 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .section-3 {
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 0px;
  }

  .grid {
    padding-right: 0px;
    padding-left: 0px;
  }

  .cta-sub.centered {
    max-width: 100%;
  }

  .div-block-6 {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 32px;
    padding-left: 32px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .contactform {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .field {
    max-width: 100%;
  }

  .form {
    max-width: 100%;
    min-width: 100%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .footer-light {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-copyright {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .section-7 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .section-2-copy {
    padding-right: 16px;
    padding-left: 16px;
  }

  .cta-sub-m.centered {
    max-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .title1 {
    font-size: 40px;
    line-height: 48px;
  }

  .title2 {
    font-size: 32px;
    line-height: 40px;
  }

  .div-block-2 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .p1 {
    padding-right: 0px;
  }

  .button-outlined {
    padding-right: 12px;
    padding-left: 12px;
  }

  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container-2 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .section {
    margin-right: 16px;
    margin-left: 16px;
  }

  .section-2 {
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .section-3 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .grid {
    -ms-grid-columns: minmax(200px, 1fr);
    grid-template-columns: minmax(200px, 1fr);
  }

  .cta-title {
    font-size: 40px;
    line-height: 48px;
  }

  .div-block-6 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .container-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .contactform {
    max-width: 100%;
    min-width: 100%;
  }

  .section-5 {
    display: block;
    min-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .button-outlined-icon {
    padding-right: 12px;
    padding-left: 12px;
  }

  .container-8 {
    max-width: none;
  }

  .footer-wrapper-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-block-two {
    margin-top: 40px;
  }

  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-social-block-two {
    margin-top: 20px;
  }

  .container-9 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .section-2-copy {
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .columns-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cta-title-m {
    font-size: 32px;
    line-height: 40px;
  }

  .cta-sub-m.centered {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}

#w-node-_2f3f3c50-9180-c9d3-faaa-d0c0ac045d19-ad4cee95 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_0a39f144-9289-028a-3869-c279370e01bc-ad4cee95 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-b5209bb1-e31a-0717-c6a7-51229ece07b1-ad4cee95 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-cbe0fbc5-be4d-7057-7584-f3a566a5e495-ad4cee95 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_544cf159-bf61-12b6-f4f4-86667ddba8bb-ad4cee95 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

#w-node-b7286e92-835a-ba8a-1bbf-05532d560743-ad4cee95 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_282fe8ed-68b2-4a86-4de3-7369ed22e51f-ad4cee95 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-daa056a3-0c6f-d7ed-3bd7-ecf886025a9b-ad4cee95 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_7b06d3c3-763e-d923-55ea-696eb02cbaf7-b02cbaf7 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

@media screen and (max-width: 991px) {
  #w-node-_2f3f3c50-9180-c9d3-faaa-d0c0ac045d19-ad4cee95 {
    -ms-grid-column-align: auto;
    justify-self: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  #w-node-_0a39f144-9289-028a-3869-c279370e01bc-ad4cee95 {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
}

