@import '../../styles/mixins';

.useCases {
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #183c4b 100%);
  scroll-margin-top: 80px;

  @include mq('sm') {
    scroll-margin-top: 68px;
  }

  .content {
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include mq('xs') {
      padding: 44px 24px;
    }

    .text {
      width: 100%;
      max-width: 620px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    .cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 32px;

      @include mq('lg') {
        flex-wrap: wrap;
      }

      .card {
        width: 100%;
        max-width: 390px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include mq('xs') {
          img {
            max-width: 300px;
            object-fit: cover;
            border-radius: 16px;
          }
        }
      }
    }
  }
}
