@import 'src/app/styles/mixins';

.letsBuildFloater {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 242, 0.298794),
    rgba(0, 255, 242, 0.698794)
  );
  background-origin: padding-box, padding-box;
  padding: 40px 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;

  @include mq('xs') {
    padding: 20px 32px;
    gap: 12px;
  }

  > button {
    max-width: 220px;

    @include mq('xs') {
      max-width: unset;
    }
  }
}
