@import 'src/app/styles/typograhphy';

.button {
  padding: 10px 32px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  @include caption-01;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.primary {
  background-color: #8354c0;
  color: #ffffff;
  border: none;

  &:hover {
    opacity: 0.8;
  }
}

.outlined {
  background-color: transparent;
  color: #fefefe;
  border: 1px solid #fefefe;

  &:hover {
    background-color: rgba(24, 60, 75, 0.8); /* Light background on hover */
  }
}
