.solvingAccordion {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .itemBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    color: #e6e6e6;
    background-color: transparent;
    border: none;
  }

  .itemBtnExpanded {
    border-radius: 12px 12px 0 0;
    background-color: #13303b;
  }

  .itemBtn:hover {
    cursor: pointer;
  }

  .itemContent {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
  }

  .itemPanel {
    padding: 1rem;
    background: #13303b;
    border-radius: 0 0 12px 12px;
  }
}

.itemBtnExpanded .expand {
  transform: rotate(180deg);
}
