@import '../../styles/mixins';

.ourServices {
  width: 100%;
  background: #0c1620;
  scroll-margin-top: 80px;

  .content {
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include mq('xs') {
      padding: 44px 24px;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .subtitle {
        max-width: 600px;
      }
    }

    .cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 32px;

      @include mq('sm') {
        flex-wrap: wrap;
      }

      .card {
        width: 100%;
        max-width: 390px;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
