@import '../../styles/mixins';

.footer {
  width: 100%;
  background: #0a1016;

  .wrapper {
    padding: 80px 24px 24px 24px;

    @include mq('xs') {
      padding: 24px;
    }

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include mq('xs') {
        flex-direction: column;
        gap: 16px;
      }

      .leftContent {
        width: 100%;
        max-width: 350px;
        display: flex;
        align-items: center;
        gap: 16px;
      }

      .rightContent {
        display: flex;
        gap: 44px;

        @include mq('xs') {
          flex-direction: column;
          gap: 12px;
          align-items: flex-start;
        }

        .singleColumn {
          display: flex;
          align-items: flex-end;
          flex-direction: column;

          @include mq('xs') {
            align-items: flex-start;
          }
        }
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      background: #d4d4d440;
      margin: 24px 0;
    }

    .copyright {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > span {
        letter-spacing: 0.15rem;
      }
    }
  }
}
