@import '../../styles/mixins';

.ourMission {
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #183c4b 100%);

  .content {
    padding: 80px 24px;

    .header {
      width: 100%;
      min-height: 110px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 80px;

      @include mq('xs') {
        flex-wrap: wrap;
      }

      .rightText {
        width: 100%;
        max-width: 480px;
      }
    }

    .cards {
      width: 100%;
      display: flex;
      align-items: stretch;

      @include mq('xs') {
        flex-direction: column;
      }

      :first-child {
        border-radius: 12px 0 0 12px;
        border-right: none;

        @include mq('xs') {
          border-radius: 12px 12px 0 0;
        }
      }

      :last-child {
        border-radius: 0 12px 12px 0;
        border-left: none;

        @include mq('xs') {
          border-radius: 0 0 12px 12px;
        }
      }

      .info {
        width: 100%;
        max-width: 410px;
        min-height: 252px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: 1px solid #3ed3f4;
      }
    }
  }
}
